/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  /* scroll-behavior: smooth; */
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
  cursor: pointer;
  transition: var(--MainTransition);
}
.section-title {
  color: var(--MainColor);
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin: 3rem 1rem 0 1rem;
}
.section-subtitle {
  color: #272727;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 0.5rem 0 0 1rem;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.content-divider {
  height: 0.4rem;
  background: linear-gradient(
    to left,
    var(--MainColor),
    rgb(197, 189, 175),
    var(--MainColor),
    rgb(197, 189, 175),
    var(--MainColor)
  );
}
/* Variables */
:root {
  --MainColor: crimson;
  --SecondaryColor: wheat;
  --MainGrey: #313030;
  --MainTransition: 0.3s linear all;
  --BgColor: #e4e4da;
}
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Navbar */
.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  justify-content: space-between;
  color: white;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  white-space: nowrap;
}
.nav-text {
  font-size: 0.8rem;
}
.nav-text span {
  color: var(--MainColor);
  font-size: 2rem;
}
.nav-links {
  display: none;
}
.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--MainTransition);
  position: absolute;
  width: 100%;
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
  transition: var(--MainTransition);
}
/* Btn */
.nav-btn-fixed {
  color: white;
  position: fixed;
  right: 0.75rem;
  font-size: 2.2rem;
  -webkit-animation: bounce 1.5s ease infinite;
  animation: bounce 1.5s ease infinite;
}
@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 850px) {
  .nav {
    background: rgba(0, 0, 0, 0.255);
    height: 4.5rem;
    transition: var(--MainTransition);
  }
  .nav-text {
    width: 100%;
    white-space: nowrap;
  }
  .nav-btn {
    display: none;
  }
  .nav-center {
    transform: translateY(-10%);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 2rem;
    justify-self: end;
  }
  .nav-links a {
    text-transform: uppercase;
    color: white;
    font-weight: 350;
    transition: var(--MainTransition);
  }
  .nav-links a:hover {
    color: var(--MainColor);
  }
  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.9);
  }
}

/* End Navbar */
/* Sidebar */
.sidebar {
  position: fixed; /* Ocupe todo */
  top: 0; /* Ocupe todo */
  left: 0; /* Ocupe todo */
  width: 100%; /* Ocupe todo */
  height: 100%; /* Ocupe todo */
  background-color: var(--MainGrey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Animation */
  transition: 0.5s ease-in-out all;
  transform: translateX(-100%);
  z-index: 1;
}
.sidebar-links {
  text-align: center;
  margin-top: 3rem;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: uppercase;
  transition: var(--MainTransition);
  color: white;
  display: inline-block;
  margin-bottom: 1.5rem;
}
.social-icons {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.social-icon {
  color: white;
  font-size: 1.5rem;
  transition: 0.2s ease all;
}
.social-icon:hover {
  color: var(--MainColor);
}
.close-btn {
  position: absolute; /*Para poder Moverlo donde querramos*/
  top: 1rem;
  right: 1rem;
  font-size: 4rem;
  background: transparent;
  cursor: pointer;
  border: transparent;
  color: var(--MainColor);
  transition: var(--MainTransition);
}
.close-btn:hover {
  transform: scale(1.3);
}
.show-sidebar {
  transform: translateX(0);
}
/* End Sidebar */
/* Hero Section */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../Resources/chef4.jpg') center/cover fixed no-repeat;
}
.hero-center {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.hero-info {
  transform: translateY(20%);
  font-size: 1.25rem;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-info span {
  color: var(--MainColor);
}
.hero-btn a {
  color: white;
}
.hero-btn {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  border: 2px solid var(--MainColor);
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
}
.hero-btn:hover {
  background-color: var(--MainColor);
}
@media screen and (min-width: 850px) {
  .hero-center {
    align-items: center;
    justify-content: left;
  }
  .hero-info {
    letter-spacing: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .hero-info h1 {
    margin-top: 0.5rem;
  }
}
/* End Hero Section */

/* About Section */
.about {
  min-height: 100vh;
  background-color: var(--BgColor);
}
.about-img {
  display: none;
}
.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about-description {
  max-width: 50vw;
  letter-spacing: 2px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.7rem;
}
.about-btn {
  color: var(--MainColor);
  font-size: 2rem;
  letter-spacing: 0.7rem;
  transition: var(--MainTransition);
  margin-top: 2.5rem;
  padding: 0.7rem 1rem;
  border: 1px solid var(--MainColor);
  border-radius: 1rem;
}
.about-btn:hover {
  background-color: var(--MainColor);
  color: wheat;
}
@media screen and (min-width: 768px) {
  .about {
    min-height: auto;
    padding-bottom: 4rem;
  }
  .about-img {
    margin-top: 5rem;
    display: block;
  }
  .about-photo-container {
    background: var(--MainColor);
    border: 0.5rem solid var(--MainColor);
    margin-left: 3rem;

    max-width: 35rem;
    overflow: hidden;
  }
  .about-photo {
    width: 100%;
    transition: var(--MainTransition);
  }
  .about-photo-container:hover .about-photo {
    opacity: 0.5;
    transform: scale(1.2);
  }
  .about-info {
    margin-right: 1rem;
  }
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    justify-content: center;
    align-items: center;
  }
  .about-btn {
    white-space: nowrap;
  }
}
/* End About Section */
/* Plats */
.dishes-title {
  text-align: center;
}
.plats {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../Resources/machu2.jpg') center/cover no-repeat fixed;
}
.section-container-plats {
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plats-sub {
  color: wheat;
  text-align: center;
  margin-bottom: 2rem;
}
.plat-card {
  margin: 3rem 0;
  background-color: var(--BgColor);
  border-radius: 0.5rem;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.3);
  transition: var(--MainTransition);
}
.plat-card:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.6);
}
.plat-img {
  height: 17rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
}
.plat-info {
  text-align: center;
  padding: 2rem 2.5rem 3rem 2.5rem;
}
.plat-info h4 {
  color: var(--MainColor);
  margin-bottom: 1rem;
  font-size: 2rem;
}
.plat-info p {
  letter-spacing: 2px;
  max-width: 20rem;
  min-width: 15rem;
  margin: 0 auto;
  margin-bottom: 1.75rem;
  color: #4f4e4e;
}
.card-btn {
  border: 2px solid var(--MainColor);
  margin-bottom: 1rem;
  color: var(--MainColor);
  padding: 0.7rem 2.25rem;
  text-transform: uppercase;
  background-color: var(--MainColor);
  border-radius: 15rem;
  color: wheat;
}
.card-btn:hover {
  background: transparent;
  color: var(--MainColor);
  border: 2px solid var(--MainColor);
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 5rem;
    column-gap: 5rem;
    row-gap: 1rem;
  }
}
/* End Plats */
/* Newsletter */
.newsletter {
  background-color: var(--BgColor);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.news-info h2 {
  text-align: center;
  color: var(--MainColor);
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 1rem;
}
.news-info h4 {
  color: #313030;
  text-align: center;
  letter-spacing: 0.3rem;
}
.submit {
  text-align: center;
}
.news-input {
  padding: 0.3rem;
  border: 1px solid rgb(202, 172, 116);
  color: #272727;
}
.btn-news {
  padding: 0.2rem 2rem;
  margin: 1rem;
  border: 1px solid var(--MainColor);
  border-radius: 1rem;
  color: var(--MainColor);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .newsletter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 4rem;
  }
  .news-info h2 {
    white-space: nowrap;
  }
  .news-form {
    display: flex;
    flex-wrap: wrap;
  }
  .news-input {
    margin: auto;
  }
}
/* End Newsletter */
/* Gallery Image */
.gallery-center {
  display: none;
}
@media screen and (min-width: 768px) {
  .gallery-center {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery-img-container {
    background: var(--MainColor);
    text-align: center;
    flex: 0 0 25%;
  }
  .gallery-img {
    height: 15rem;
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    transition: var(--MainTransition);
  }
  .gallery-img:hover {
    opacity: 0.5;
  }
}
/* End Gallery Image */
/* Contact Section */
.contact {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../Resources/paddington.jpg') center/cover fixed no-repeat;
}
.contact-form,
.contact-info {
  margin: 1rem 0;
}
.contact-form {
  margin-bottom: 8em;
}
.single-info {
  margin-bottom: 2rem;
}
.contact-title {
  color: var(--MainColor);
  font-weight: 600;
}
.contact-text {
  text-transform: uppercase;
  color: wheat;
  letter-spacing: 2px;
  font-size: 1rem;
}
.contact-form {
  margin-top: 4rem;
  background: rgba(255, 251, 202, 0.659);
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--MainColor);
  font-size: 2rem;
  letter-spacing: 2px;
}
.form-group {
  padding: 1rem 1.5rem;
}
.inp-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: rgba(255, 253, 249, 0.748);
  border-radius: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn-form {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background: var(--MainColor);
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
  }
  .contact-form {
    margin-top: 0;
  }
  .contact-title {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}
/* End Contact Section */
/* Footer */
.footer-container {
  background: linear-gradient(
    to bottom,
    rgb(29, 24, 24),
    rgba(0, 0, 0, 0.926),
    rgb(0, 0, 0)
  );
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem;
}
.social-icons-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.social-icon {
  margin: 1rem;
}
.footer-copy {
  color: white;
  letter-spacing: 2px;
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .social-icons-footer {
    justify-content: space-evenly;
  }
  .footer-copy {
    padding: 1rem;
  }
}
/* End Footer */
