/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
  cursor: pointer;
  transition: var(--MainTransition);
}
/* Variables */
:root {
  --MainColor: crimson;
  --SecondaryColor: wheat;
  --MainGrey: #313030;
  --MainTransition: 0.3s linear all;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Navbar */
.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  justify-content: space-between;
  color: white;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  white-space: nowrap;
}
.nav-text {
  font-size: 0.8rem;
}
.nav-text span {
  color: var(--MainColor);
  font-size: 2rem;
}
.nav-links {
  display: none;
}
.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--MainTransition);
  position: absolute;
  width: 100%;
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}

@media screen and (min-width: 850px) {
  .nav {
    background: rgba(0, 0, 0, 0.255);
    height: 4.5rem;
  }
  .nav-text {
    width: 100%;
    white-space: nowrap;
  }
  .nav-btn {
    display: none;
  }
  .nav-center {
    transform: translateY(-10%);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 2rem;
    justify-self: end;
  }
  .nav-links a {
    text-transform: uppercase;
    color: white;
    font-weight: 350;
    transition: var(--MainTransition);
  }
  .nav-links a:hover {
    color: var(--MainColor);
  }
}
/* End Navbar */
/* Sidebar */
.sidebar {
  position: fixed; /* Ocupe todo */
  top: 0; /* Ocupe todo */
  left: 0; /* Ocupe todo */
  width: 100%; /* Ocupe todo */
  height: 100%; /* Ocupe todo */
  background-color: var(--MainGrey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Animation */
  transition: 0.5s ease-in-out all;
  transform: translateX(-100%);
  z-index: 1;
}
.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 3rem;
  text-transform: uppercase;
  transition: var(--MainTransition);
  color: white;
  display: inline-block;
  margin-bottom: 1.5rem;
}
.social-icons {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.social-icon {
  color: white;
  font-size: 1.5rem;
  transition: 0.2s ease all;
}
.social-icon:hover {
  color: var(--MainColor);
}
.close-btn {
  position: absolute; /*Para poder Moverlo donde querramos*/
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  cursor: pointer;
  border: transparent;
  color: var(--MainColor);
  transition: var(--MainTransition);
}
.close-btn:hover {
  transform: scale(1.3);
}
.show-sidebar {
  transform: translateX(0);
}
/* End Sidebar */
/* Hero Section */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../Resources/chef4.jpg') center/cover fixed no-repeat;
}
.hero-center {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.hero-info {
  transform: translateY(20%);
  font-size: 1.25rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-info span {
  color: var(--MainColor);
}
.hero-btn {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  border: 2px solid var(--MainColor);
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
}
.hero-btn:hover {
  background-color: var(--MainColor);
}
@media screen and (min-width: 850px) {
  .hero-center {
    align-items: center;
    justify-content: left;
  }
  .hero-info {
    letter-spacing: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .hero-info h1 {
    margin-top: 0.5rem;
  }
}
/* End Hero Section */

/* About Section */
.section {
  min-height: 100vh;
}
/* End About Section */
